$font-stack:    "Microsoft YaHei" "Lucida Grande", Helvetica, Arial, sans-serif;
$primary-red: #ef3325;
$primary-blue: #2eb6d0;
$primary-yellow: #f8c823;
$site-background: url(/image/background-lines.png);
$button-font-color: #ffffff;

$grid-gutter-width: 10px;
$grid-columns: 12;