@import 'variables';
@import 'mixin';
@import 'reset';
@import 'grid';


html, body {
    position: relative;
    height: 100%;
}

body {
    background: #fff;
    font: 14px $font-stack;
    margin: 0;
    padding: 0;
}


.bg-offset{
    display: inline-block;
    border: 3px solid black;
    border-radius: 3px;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ef3325,#ef3325);
    box-shadow: 6px 6px 0 #ef3325;
}

.login {
    @extend .bg-offset;
    display: block;
    position: relative;
    top: 100px;
    text-align: center;
    padding: 40px;
    background-image: linear-gradient(#003c58,#003c58);
    box-shadow: 6px 6px 0 #003c58;

    .button {
        box-sizing: border-box;
        margin: 0 auto 20px;
        width: 100%;
        background-color: #ef3325;
    }
    input[type="text"] {
        height: 50px;
        width: 100%;
        font-weight: bold;
        font-size: medium;
        line-height: 50px;
        margin-bottom: 30px;
        font-size: 14px;
        background: #fff;
        border: 3px solid black;
        padding: 0 15px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
}

.button, button {
    @extend .bg-offset;
    color: $button-font-color;
    text-transform: uppercase;
    padding: 10px 16px 9px 20px;
    margin: 20px 20px 20px 0;
    background-color: inherit;
}

.member-link {
    color: $primary-blue;
    border: none;
    display: inline-block;
}

.site-bg {
    background: $site-background repeat 0 0;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;
}

.navigationBar {
    position: absolute;
    box-sizing: border-box;
    background: #666;
    border-top: 1px solid #333;
    height: 50px;
    width:100%;
    bottom: 0;
    .tab {
        position:relative;
        float : left;
        width: 50%;
        text-align: center;
        background: #fff;
        height:100%;
        p {
            position: absolute;
            top: 0;
            margin: 0;
            padding: 0;
            width:100%;
            height:100%;
        }
        &:hover {
            background: #888;
        }
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.qustion-card {
    @extend .bg-offset;
    background-image: linear-gradient($primary-yellow,$primary-yellow);
    box-shadow: 6px 6px 0 $primary-yellow;

    padding: 0;
    width: 80%;
    height: 70%;
    .content {
        color: white;
        font-weight: bold;
        height: 80%;
        width: 100%;
    }
    .record-area {
        height: 20%;
        width: 100%;
        background: white;
    }
}


// body {
//     &[data-mobile-nav="closed"] {
//         .mobile-nav-btn {
//             .closer {
//                 display: none
//             }
//             .opener {
//                 display: inline-block
//             }
//         }
//     }
//     &[data-mobile-nav="open"] {
//         .mobile-nav-wrapper {
//             display: block;
//         }
//         .mobile-nav-btn {
//             position: relative;
//             z-index: 102;
//             background: black;
//             -webkit-box-shadow: 6px 6px 0 transparent;
//             -moz-box-shadow: 6px 6px 0 transparent;
//             box-shadow: 6px 6px 0 transparent;

//             .closer {
//                 display: inline-block;
//             }
//             .opener {
//                 display: none;
//             }
//         }
//     }
    
// }